<div class="row">
   <div class="col-md-4">
    <div class="card">
        <div class="card-body">
        <form action="/images/add" method="POST" 
        enctype="multipart/form-data">
            <div class="form-group">
                <input type="text" name="tittle" 
                class="form-control" placeholder=" Image tittle">
            </div>
            <div class="form-group mb-2">
                <textarea name="description" class="form-control" 
                placeholder="Image description"></textarea>
            </div>
            <div class="input-group mb-3">
                <div class="custom-file">
                    
                    <input type="file" name="image" 
                    class="custom-file-input" id="inputGroupFile01">
                    
                    <label for="inputGroupFile01"
                    class="custom-file-label">Choose a file</label>
                </div>
            </div>
            <button class="btn btn-primary">
                upload photo♥
            </button>
        </form>
        </div>
    </div>
   </div>

   <div class="col-md-8">
       <table class="table">
           <thead>
               <tr>
                   <th>tittle</th>
                   <th>Descripcion</th>
                   <th>Operacion</th>
               </tr>
           </thead>
            <tbody>
                {{#each photos}}
                <tr>
                    <td>{{title}}</td>
                    <td>{{description}}</td>
                    <td>
                        <a href="{{imageURL}}" target="_blank" class="btn 
                        btn-primary">view</a>
                        <a href="/image/delete/{{_id}}" class="btn btn-danger">Borrar</a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
       </table>
   </div>
</div>
